//Typography
$body-font: "Open Sans",
  sans-serif;
$headings: "Zilla Slab",
  sans-serif;

//Colors
$blue-primary1: #0f4c5c;
$orange-primary2: #e36414;
$yellow-secondary1: #fc8c17;
$purple-secondary2: #5f0f40;
$beige-tertiary: #ffebd6;
$white: #fff;
$black: #000;

//Responsive breakpoints
$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 600px;

//Transition
$transition-soft: 0.25s;
