$dark-blue-color: #414f5c;

.navBar {
  width: 100%;
  position: sticky;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;

  &__link {
    color: $dark-blue-color;
    font-size: 0.7em;
    text-decoration: none;
  }

  &__logo {
    margin-right: 100px;
  }

  &__button {
    background-color: $blue-primary1;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 13px 16px;
    border-radius: 48px;
    font-size: 0.7em;
  }
}
