.hamburger {
  $self: &;

  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  line-height: 30px;
  border: none;
  background: transparent;

  @media (min-width: $breakpoint-md) {
    display: none;
  }

  &__line {
    width: 19px;
    height: 1.5px;
    background: $gray;
    display: block;
    margin: 4.5px 0;
    transition: opacity 0.3s, transform 0.5s;

    #{$self}--active & {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
