.arrow::after {
  content: ">";
  font-weight: 900;
  margin-left: 20px;
  margin-top: 2px;
  transform: rotateZ(90deg);
  font-family: monospace;
  transition: transform 0.3s;
}

.mainNavbar {
  .layout main & {
    padding: 14px 0;
  }

  .section-content {
    width: 100%;
  }

  &__wrapper {
    padding: 0 $gap-md;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__burguer {
    cursor: pointer;
    font-size: 25px;
    border-radius: 3px;
    padding: 4px 6px;
    margin-right: 17px;
    line-height: 30px;
    border: none;
    background: transparent;
  }

  &__img {
    height: 60px;
    cursor: pointer;
  }

  &__link {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 20px;
    font-weight: bold;

    &:hover {
      background-color: #f5f5f5;
      color: $orange-primary2;
    }
  }

  &__subLi &__link {
    width: 100%;
    min-width: max-content;
    transition: font-weight 0.1s;
    font-weight: normal;
  }

  &__ul {
    position: absolute;
    display: none;
  }

  &__ul,
  &__subUl {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__subUl {
    position: absolute;
    width: fit-content;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__li {
    position: relative;
  }

  &__subLi {
    opacity: 0;
    transition: all 0.25s ease-in-out;
    width: 100%;
    display: block;
    min-width: fit-content;
  }

  &__li:hover &__subLi,
  &__li a:active &__subLi {
    opacity: 1;
    transition: all 0.25s ease-in-out;
  }

  &__btn {
    height: auto;
    min-width: auto;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $orange-primary2;
  }

  &__li:hover .arrow::after {
    transform: rotateZ(270deg);
  }

  &__heart {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    .main-cta__text {
      display: none;
    }

    .main-cta__icon {
      margin: 0;
    }
  }
}

@media (max-width: $breakpoint-md - 1) {
  .mainNavbar {
    &__wrapper--mobile-active &__ul {
      top: 75px;
      right: 0;
      left: 0;
      padding: 10px;
      text-align: center;
      display: block;
    }

    &__wrapper--mobile-active &__subUl {
      height: auto;
      position: relative;
      opacity: 1;
    }

    &__wrapper--mobile-active &__subLi {
      opacity: 1;
    }

    &__wrapper--mobile-active &__heart {
      display: none;
    }

    .arrow {
      font-weight: bold;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .mainNavbar {
    &__burguer {
      display: none;
    }

    &__img {
      height: auto;
    }

    &__ul {
      display: flex;
      position: relative;
    }

    &__subUl {
      height: 0;
      overflow: hidden;
    }

    &__li:hover &__subUl {
      background-color: $white;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      height: auto;
    }

    &__heart {
      display: none;
    }

    &__link {
      font-weight: normal;
    }

    &__subLi &__link {
      &:hover {
        font-weight: bold;
      }
    }
  }
}
