@import url("http://fonts.cdnfonts.com/css/museo-slab");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
@import "../components/RelevantInfoCards/RelevantInfoCards";
@import "../components/Navigation/Navigation";

//Typography
$body-font: "Open Sans", sans-serif;
$headings: "Museo Slab", sans-serif;
//Colors
$blue-primary1: #0f4c5c;
$orange-primary2: #e36414;
$yellow-secondary1: #fc8c17;
$purple-secondary2: #5f0f40;
$beige-tertiary: #ffebd6;
$white: #fff;
//Responsive breakpoints
$breakpoint-web: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: $headings;
}

p,
h5,
h6 {
  font-family: $body-font;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

h2 {
  font-size: 45px;
  font-weight: normal;
  line-height: 50px;
}

h3,
h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 23px;
}

header {
  text-align: center;
  margin: 60px 0;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

header h1,
header h2 {
  margin: 0;
}

header span {
  display: block;
  line-height: 1em;
}

header span:first-child {
  font-size: 1em;
  font-weight: 400;
}

header span:last-child {
  font-size: 1.5em;
  font-weight: 800;
}

header h2 {
  font-size: 1.2em;
  font-weight: 400;
}

footer {
  padding: 40px;
  text-align: center;
  margin-top: auto;
}

.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
